.IndividualHeader{

    background: var(--background);
    background-color: var(--background);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    display: flex;
    background-color: #393e46;
    color: #eeeeee;
    
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.maincontent{
    max-width: 700px;
    margin: auto;
}

.mainimg img {
    display: block;
    max-width: 750px;
    max-height: 800px;
    width: auto;
    height: 500px;
    border-radius: 50px;
    margin: 50px;
}