.pageCardContainer {
    background-color: #393e46;
    color: #eeeeee;
    border-color: #00adb5;
    border-width: thick;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 7.5%;
    margin-left: 7.5%;
    
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    
    
}

.cardBody{
    display:flex;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.pageimage img {
    display: inline;
    vertical-align: middle;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    
    border-radius: 50px;
      
}

.pageimage{
    display: flex;
    vertical-align: middle;
    max-width: 500px;
    max-height: 500px;
    margin-left: 20px;  
}